.field-type.rich-text-lexical.recording-description-warning .editor-container {
  border-color: var(--theme-warning-400);
  box-shadow: 0 0 0 1px var(--theme-warning-400);
}

.recording-description-warning-banner {
  background: var(--theme-warning-100);
  color: var(--theme-warning-600);

  ul {
    margin: 0;
    padding-left: 1.25em;
  }
}