@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}
